<div class="center">


<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <p class="flow-text">Our plumbers are professional and committed to customer satisfaction. Call now and speak with our highly trained staff  +46 0707 478 578</p>
    </div>
  </div>
</div>

<div class="lt-vertical-spacer"></div>

<div class="lt-row row">
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/portfolio/mainpage/img-01.jpg'|theme }}">
      </div>
      <div class="card-content">
        <p>Installs and repairs everything e.g. mixer, WC chairs and bathroom furniture</p>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/portfolio/mainpage/img-02.jpg'|theme }}">
      </div>
      <div class="card-content">
        <p>Installs heat pumps, mountains, air-water, air-air</p>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/portfolio/mainpage/img-03.jpg'|theme }}">
      </div>
      <div class="card-content">
        <p>New and rebuilding installations</p>
      </div>
    </div>
  </div>
</div>

<div class="hide-on-small-only" style="height: 20px;"></div>

<div class="lt-row row">
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/portfolio/mainpage/img-04.jpg'|theme }}">
      </div>
      <div class="card-content">
        <p>Finished Bathroom.</p>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/portfolio/mainpage/img-05.jpg'|theme }}">
      </div>
      <div class="card-content">
        <p>Energy Solutions</p>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/portfolio/mainpage/img-06.jpg'|theme }}">
      </div>
      <div class="card-content">
        <p>Solar heating Systems</p>
      </div>
    </div>
  </div>
</div>
