<div class="lt-row row">
  <div class="lt-col col m6 s12">
    <div class="parallax-container">
      <div class="lt-parallax parallax"><img src="{{ 'assets/img/pages/home/mainpage/img-01.jpg'|theme }}" alt="image"></div>
    </div>
  </div>
  <div class="lt-col col m6 s12">
    <div class="lt-super-large-padding">
      <div class="lt-col col s12">
        <h2 class="lt-title">Commercial Services</h2>
      </div>
            <div class="lt-col col s12">
<p> - New project for constructors. Specialize in industrial real estate.</p>
<p> - Specialize in industrial real estate.</p>
<p> - Build from scratch, rebuild existing real estate.</p>
<p> - Maintenance service agreement.</p>
            <div class="lt-slider-button">
              <a href="/about"  class="waves-effect waves-light btn-large primary-color-background">Learn More<i class="material-icons right">input</i></a>
            </div>
      </div>

<!--      <a href="#lt-video-materializecss" class="btn-floating btn-large z-depth-0 lt-modal-trigger modal-trigger">
        <i class="large material-icons">play_arrow</i>
      </a>
      <div id="lt-video-materializecss" class="modal">
        <div class="modal-content">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/oWhKUNCCAtk?rel=0" frameborder="0"></iframe>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>

<div class="lt-row row">
  <div class="lt-col col m6 s12">
    <div class="lt-super-large-padding">
      <div class="lt-col col s12">
        <h2 class="lt-title">Residential Services</h2>
      </div>
      <div class="lt-col col s12">
<p> - Installs and repairs everything e.g. mixer, WC chairs and bathroom furniture</p>
<p> - Installs heat pumps, mountains, air-water, air-air</p>
<p> - New and rebuilding installations</p>
<p> - Finished Bathroom</p>
<p> - Energy Solutions, Solar heating Systems</p>
            <div class="lt-slider-button">
              <a href="/portfolio" class="waves-effect waves-light btn-large primary-color-background">Learn More<i class="material-icons right">input</i></a>
            </div>
      </div>

<!--      <a href="#lt-video-octobercms" class="btn-floating btn-large z-depth-0 lt-modal-trigger modal-trigger">
        <i class="large material-icons">play_arrow</i>
      </a>
      <div id="lt-video-octobercms" class="modal">
        <div class="modal-content">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/AUq-FzojL10?rel=0" frameborder="0"></iframe>
          </div>
        </div>
      </div>-->
    </div>
  </div>
  <div class="lt-col col m6 s12">
    <div class="parallax-container">
      <div class="lt-parallax parallax"><img src="{{ 'assets/img/pages/home/mainpage/img-02.jpg'|theme }}" alt="image"></div>
    </div>
  </div>
</div>
