<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <p class="flow-text">Whether your project is new installation, upgrades &amp; modernization or repair &amp; maintenance, we are the experts.</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-display1 primary-color-text"></i>
      <h5>Industrial</h5>
      <p>New project for constructors. Specialize in industrial real estate.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-tools primary-color-text"></i>
      <h5>Build/rebuild</h5>
      <p>Build from scratch, rebuild existing real estate.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-news-paper primary-color-text"></i>
      <h5>Service agreement</h5>
      <p>Need a service agreement for customer facility? <a href="/contact">Contact us</a>.</p>
    </div>
  </div>
</div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <p >Commercial properties need professional plumbers just like residential properties; the only difference is that commercial properties have all components on a larger scale that require a master plumber’s expertise and experience to keep everything working together in unison. Whether it is a large office building or an apartment community, Plumbing AB is perfectly capable of managing any and all plumbing issues, while at the same time providing scheduled on-site maintenance so that any and all future problems can be averted.</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-01.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-02.jpg'|theme }}">
    </div>
  </div>

  <div class="hide-on-small-only" style="height: 20px;"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-03.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-04.jpg'|theme }}">
    </div>
  </div>
</div>
